.category-card {
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.438);
  width: calc(var(--display-width) / 3.5);
  height: calc(var(--display-height) / 3.6);
  cursor: pointer;
  margin: none;
  overflow: hidden;
}

.category-card > img {
  position: relative;
  width: 100%;
  bottom: 2.4em;
  z-index: 1;
}
.category-card > span {
  position: relative;
  z-index: 2;
  font-size: 2em;
  color: aliceblue;
  background-color: rgba(128, 128, 128, 0.651);
  top: 45%;
}