.product-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  border: 2px solid rgba(128, 128, 128, 0.205);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 2px solid rgba(128, 128, 128, 0.404); */
}

.product-card > h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.product-card > span {
  display: none;
}

.regular-price {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  margin-top: -0.5em;
  /* justify-items: flex-start; */
  /* flex-direction: column; */
}
.regular-price > p {
  /* display: none; */
  margin-right: 0.5em;
  /* margin-top: -0.5em; */
}

/* .regular-price > span {

} */

.sale-price {
  display: flex;
  align-items: center;
  margin-top: -1.5em;
  /* flex-direction: column; */
}

.sale-price > p {
  margin-right: 0.5em;
  /* display: none; */
}

/* .sale-price > span {
  
} */

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details-container > span {

}

.details-container > p {
  display: none;
}

.product-image-main {
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
  border: 2px solid rgba(128, 128, 128, 0.452);
}

