.product-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  border: 2px solid rgba(128, 128, 128, 0.205);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.close-selected-product {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.25em;
  margin-right: 0.25em;
  color: rgb(102, 101, 101);
}

.close-selected-product:hover {
  color: black;
  cursor: pointer;
}


.product-card > * {
  cursor: pointer;
}

.product-card-header > h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  cursor: pointer;
}

.product-card-header > span {
  display: none;
}

.regular-price {
  display: flex;
  align-items: center;
  margin-top: -0.5em;
}
.regular-price > p {
  margin-right: 0.5em;
}

/* .regular-price > span {

} */

.sale-price {
  display: flex;
  align-items: center;
  margin-top: -1.5em;
}

.sale-price > p {
  margin-right: 0.5em;
}

/* .sale-price > span {
  
} */

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details-container > span {

}

.details-container > p {
  display: none;
}

.product-image-main {
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
  border: 2px solid rgba(128, 128, 128, 0.452);
  z-index: -3;
}

.product-card .product-image-main:hover {
  cursor: pointer;
}

.product-card.--selected {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "image image title title"
    "image image data blank"
    "tags details details"
    "tags details details";
  width: 95%;
  height: 80%;
  background-color: white;
}

.product-card.--selected > * {
  cursor: default;
}

.product-card.--selected::before {
  content: '';
  position: fixed;
  display: block;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.product-card.product-card.--selected .product-information {
  display: flex;
  flex-direction: column;
  grid-area: data;
}

.product-card-header.--selected {
  grid-area: title;
}

.product-card.--selected .product-card-header > * {
  cursor: default;
}

.product-card.--selected .details-container > p {
  display: block;
}

.product-card.--selected .details-container > span {
  display: block;
}


.product-card.--selected > .product-image-main {
  z-index: 1;
  grid-area: image;
}

