.product-card {
  display: flex;
  /* border: 2px solid rgba(128, 128, 128, 0.404); */
}

.product-card > h2 {
  font-size: 0.75em;
}

.product-card > span {
  display: none;
}

.regular-price {
  display: flex;
  flex-direction: column;
}
.regular-price > p {
  display: none;
}

/* .regular-price > span {

} */

.sale-price {
  display: flex;
  flex-direction: column;
}

.sale-price > p {
  display: none;
}

/* .sale-price > span {
  
} */

.details-container {
  display: flex;
  flex-direction: column;
}

.details-container > span {

}

.details-container > p {

}

.product-image-main {
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
  border: 2px solid rgba(128, 128, 128, 0.452);
}

