.selected-category-display {
  display: flex;
  /* grid-template-rows: 1fr 1fr 1fr; */
  border: 2px solid rgba(128, 128, 128, 0.308);
  /* margin-left: var(--display-padding); */
  margin-right: var(--display-padding);
  margin-bottom: var(--display-padding);
  height: var(--display-height);
}

.products-container {
  position: relative;
  padding-top: 1em;
  padding-right: 1em;
}
.rendered-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100% - 1em);
  width: 100%;
  /* border-top: 1px solid rgba(128, 128, 128, 0.322); */
  overflow: scroll;
}